<main class="main">
  <div class="inner">
      <div class="greeting">
        <%= link_to "ニックネーム名さん", root_path, class: :greeting__link%>
      </div>
    <div class="card__wrapper">
    </div>
  </div>
</main>